<div class="col-sm-6">
  <%= form_for(provider) do |f| %>
    <% if provider.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(provider.errors.count, "error") %> prohibited this provider from being saved:</h2>

        <ul>
        <% provider.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.text_field :name, class: "form-control input-lg", placeholder: "Nombre"%>
    </div>
    <div class="form-group">
      <%= f.number_field :cuit, class: "form-control input-lg", placeholder: "CUIT/CUIL"%>
    </div>
    <div class="form-group">
      <%= f.number_field :renspa, class: "form-control input-lg", placeholder: "Renspa"%>
    </div>
    <div class="form-group">
      <%= f.number_field :telephone, class: "form-control input-lg", placeholder: "Telefono"%>
    </div>
    <div class="form-group">
      <%= f.text_field :email, class: "form-control input-lg", placeholder: "E-Mail"%>
    </div>
    <div class="form-group">
      <%= f.text_field :address, class: "form-control input-lg", placeholder: "Domicilio"%>
    </div>

    <div class="form-group row">
      <div class="input-group date datepicker col-sm-6">
        <%= f.text_field :up_date, placeholder: "Fecha de alta", class: "form-control" %>
          <span class="input-group-addon">
            <%= fa_icon "list"%>
          </span>
      </div>
      <div class="input-group date datepicker col-sm-6">
      <%= f.text_field :down_date, placeholder: "Baja", class: "form-control" %>
        <span class="input-group-addon">
          <%= fa_icon "list"%>
        </span>
      </div>  
    </div>

    <div class="form-group">
        <%= f.collection_select :city_id, City.all, :id, :to_s, {prompt: "Ciudad"}, {class: "select2"} %>
    </div>

    <div class="form-group">
      <%= f.text_field :observation, class: "form-control input-lg", placeholder: "Observacion"%>
    </div>

    <div class="form-group row ">
      <div class="col-sm-6">
        <%= f.label "Activo?" %>
      </div>
      <div class="col-sm-6">
        <%= f.check_box :active, class: "form-control input-lg", placeholder: "Activo?"%>
      </div>
    </div>    
    
    <div class="actions">
      <%= f.submit class: "btn btn-outline-success btn-block"%>
    </div>

  <% end %>
</div>
