<div class="col-md-10  col-xs-12">
  <h2>Abastecedor</h2>
</div>

<div class="col-md-10  col-xs-12">
  <table class="datatable table-striped table-bordered table-list">
    <thead>
      <tr>
        <th>Razon social</th>
        <th>CUIT/CUIL</th>
        <th>Fecha Alta</th>
        <th>Ciudad</th>
        <th>Opciones</th>
      </tr>
    </thead>

    <tbody>
      <% @providers.each do |provider| %>
        <tr>
          <td><%= provider.name %></td>
          <td><%= provider.cuit %></td>
          <td><%= provider.up_date %></td>
          <td><%= provider.city %></td>
          <td>
            <%= link_to (fa_icon "eye"), provider, class: '' %>
            <%= link_to (fa_icon "pencil-square-o"), edit_provider_path(provider), class: '' %>
            <%= link_to (fa_icon "trash-o"), provider, method: :delete, data: { confirm: '¿Seguro desea eliminar este registro?' }, class: '' %>        
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="col-md-10  col-xs-12">
  <%= link_to 'Nuevo Abastecedor', new_provider_path, {:class=>"btn btn-primary btn-submit"} %>
</div>
