<div class="col-xs-10">
  <h2 style="text-align: center;">Proveedor: <%= @provider %></h2>
</div>

<label class="col-sm-4 control-label">
  Nombre:
</label>
<div class="col-sm-8 show-field">
  <%= @provider.name %>
</div>

<label class="col-sm-4 control-label">
  Cuit/Cuil:
</label>
<div class="col-sm-8 show-field">
  <%= @provider.cuit %>
</div>

<label class="col-sm-4 control-label">
  Renspa:
</label>
<div class="col-sm-8 show-field">
  <%= @provider.renspa %>
</div>

<label class="col-sm-4 control-label">
  Teléfono:
</label>
<div class="col-sm-8 show-field">
  <%= @provider.telephone %>
</div>

<label class="col-sm-4 control-label">
  Email:
</label>
<div class="col-sm-8 show-field">
  <%= @provider.email %>
</div>

<label class="col-sm-4 control-label">
  Dirección:
</label>
<div class="col-sm-8 show-field">
  <%= @provider.address %>
</div>

<label class="col-sm-4 control-label">
  Fecha de Alta:
</label>
<div class="col-sm-8 show-field">
  <%= @provider.up_date %>
</div>

<label class="col-sm-4 control-label">
  Fecha de Baja:
</label>
<div class="col-sm-8 show-field">
  <%= @provider.down_date %>
</div>

<label class="col-sm-4 control-label">
  Ciudad:
</label>
<div class="col-sm-8 show-field">
  <%= @provider.city %>
</div>

<label class="col-sm-4 control-label">
  Observación:
</label>
<div class="col-sm-8 show-field">
  <%= @provider.observation %>
</div>

<label class="col-sm-4 control-label">
  ¿Activo?:
</label>
<div class="col-sm-8 show-field">
  <% if @provider.active? %>
      ACTIVO
  <% else %>
      INACTIVO
  <% end %>
</div>

<div class="col-sm-2">
  <%= link_to 'Editar', edit_provider_path(@provider), class: "btn btn-primary btn-block" %>
</div>      
<div class="col-sm-2">
  <%= link_to 'Volver', providers_path, class: "btn btn-success btn-block"%>
</div> 