<h1>Tipo de animales</h1>

<table class="datatable table-striped table-bordered table-list">
  <thead>
    <tr>
      <th>Description</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @animal_types.each do |animal_type| %>
      <tr>
        <td><%= animal_type.description %></td>
        <td>
          <%= link_to (fa_icon "eye"), animal_type, class: 'btn btn-sm btn-success' %>
          <%= link_to (fa_icon "pencil-square-o"), edit_animal_type_path(animal_type), class: 'btn btn-sm btn-warning' %>
          <%= link_to (fa_icon "trash-o"), animal_type, method: :delete, data: { confirm: '¿Seguro desea eliminar este registro?' }, class: 'btn btn-sm btn-danger' %>
              
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Tipo Animal', new_animal_type_path, {:class=>"btn btn-primary"} %>
