<div class="col-sm-6">
  <%= form_for(sub_product_type) do |f| %>
    <% if sub_product_type.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(sub_product_type.errors.count, "error") %> prohibited this sub_product_type from being saved:</h2>

        <ul>
        <% sub_product_type.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.text_field :description, class: "form-control input-lg", placeholder: "Descripcion"%>
    </div>

    <div class="actions">
        <%= f.submit class: "btn btn-outline-success btn-block"%>
    </div>
  <% end %>
</div>