<div class="col-xs-10">
  <h2>Producción</h2>
</div>

<div class="col-xs-10  col-xs-12">
  <table class="datatable table-striped table-bordered table-list">
    <thead>
      <tr>
        <th>Tropa</th>
        <th>Abastecedor</th>
        <th>Turno</th>
        <th>Descripción</th>
        <th>Acciones</th>
      </tr>
    </thead>
      <% if current_user.PlantaA?%>
        <tbody>
          <% @production.each do |production| %>
            <% pd= ProductionDetail.where(production_id: production.id)%>
            <% if (production.troop.quantity_control*2) != pd.size %>
              <tr>
                <td><%= production.troop.dte %></td>
                <td><%= production.troop.provider.name %></td>
                <td><%= production.troop.turn %></td>
                <td><%= production.description %></td>
                <td>
                  <%= link_to (fa_icon "pencil-square-o"), new_production_detail_path(:prod => production), class: 'btn btn-sm btn-warning' %>
                </td>        
              </tr>
            <%end %>
          <%end %>
        </tbody>
      <%else%>
        <% if current_user.admin?%>
          <tbody>
            <% @production.each do |production| %>
              <tr>
                <td><%= production.troop.dte %></td>
                <td><%= production.troop.provider.name %></td>
                <td><%= production.troop.turn %></td>
                <td><%= production.description %></td>
                <td>
                  <%= link_to (fa_icon "pencil-square-o"), new_production_detail_path(:prod => production), class: 'btn btn-sm btn-warning' %>
                </td>        
              </tr>
            <%end %>
          </tbody>
        <%end%>  
      <%end%>

  </table>
</div>