<div class="col-sm-6">  
<%= form_for(troop_detail) do |f| %>
  <% if troop_detail.errors.any? %>
    <script type="text/javascript">
      <% troop_detail.errors.full_messages.each do |message| %>
        toastr['error']('<%= message %>');
      <% end %>
    </script>
  <% end %>

    <div class="form-group">
      <%= f.collection_select :troop_id, Troop.where(:close_code=>''), :id, :to_s, {prompt: "Tropa"}, {class: "select2"} %>
    </div>

    <div class="form-group">
      <%= f.collection_select :animal_id, Animal.all, :id, :to_s, {prompt: "Animal"}, {class: "select2"} %>
    </div>
    
    <div class="form-group">
      <%= f.number_field :quantity, class: "form-control input-lg", placeholder: "Cantidad"%>
    </div>

    <div class="form-group">
      <%= f.number_field :fallen, class: "form-control input-lg", placeholder: "Caidos"%>
    </div>

    <div class="form-group">
      <%= f.text_field :observation, class: "form-control input-lg", placeholder: "Observacion"%>
    </div>

    <div class="actions">
        <%= f.submit class: "btn btn-outline-success btn-block"%>
    </div>
  <% end %>
</div>