 
<%= form_for(transport) do |f| %>
  <% if transport.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transport.errors.count, "error") %> prohibited this transport from being saved:</h2>

      <ul>
      <% transport.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <label class="col-sm-3 control-label">
    Acoplado:
  </label>
  <div class="col-sm-9 controls">
        <%= f.number_field :coupled, class: "form-control input-lg", placeholder: "Acoplado"%>
        <span class="help-block">Obligatorio. </span>
  </div>

  <label class="col-sm-3 control-label">
    Capacidad:
  </label>
  <div class="col-sm-9 controls">
        <%= f.number_field :capacity, class: "form-control input-lg", placeholder: "Capacidad"%>
  </div>

  <label class="col-sm-3 control-label">
    Patente:
  </label>
  <div class="col-sm-9 controls">
        <%= f.text_field :plate, class: "form-control input-lg", placeholder: "Patente"%>
  </div>

  <label class="col-sm-3 control-label">
    Modelo:
  </label>
  <div class="col-sm-9 controls">
        <%= f.number_field :model, class: "form-control input-lg", placeholder: "Modelo"%>
  </div>

  <label class="col-sm-3 control-label">
    Peso:
  </label>
  <div class="col-sm-9 controls">
        <%= f.text_field :weight, class: "form-control input-lg", placeholder: "Peso"%>
  </div>

  <label class="col-sm-3 control-label">
    Marca:
  </label>
  <div class="col-sm-9 controls">
        <%= f.text_field :brand, class: "form-control input-lg", placeholder: "Marca"%>
  </div>

  <div class="col-sm-2">
    <%= link_to 'Volver', transports_path, class: "btn btn-primary btn-block" %>
  </div>      
  <div class="col-sm-4">
    <%= f.submit class: "btn btn-success btn-block"%>
  </div>  

<% end %>
