<div class="col-xs-10">
  <h2>Transportes</h2>
</div>

<div class="col-xs-10  col-xs-12">
  <table class="datatable table-striped table-bordered table-list">
    <thead>
      <tr>
        <th>Acoplado</th>
        <th>Capacidad</th>
        <th>Patente</th>
        <th>Modelo</th>
        <th>Peso</th>
        <th>Marca</th>
        <th>Opciones</th>
      </tr>
    </thead>

    <tbody>
      <% @transports.each do |transport| %>
        <tr>
          <td><%= transport.coupled %></td>
          <td><%= transport.capacity %></td>
          <td><%= transport.plate %></td>
          <td><%= transport.model %></td>
          <td><%= transport.weight %></td>
          <td><%= transport.brand %></td>
          <td>
            <%= link_to (fa_icon "eye"), transport, class: '' %>
            <%= link_to (fa_icon "pencil-square-o"), edit_transport_path(transport), class: '' %>
            <%= link_to (fa_icon "trash-o"), transport, method: :delete, data: { confirm: '¿Seguro desea eliminar este registro?' }, class: '' %>
                
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<div class="col-xs-10 col-xs-12">
  <%= link_to 'Nuevo Transporte', new_transport_path, {:class=>"btn btn-primary btn-submit"} %>
</div>