<%= form_for(production_detail) do |f| %>
    <% if production_detail.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(production_detail.errors.count, "error") %> prohibited this production_detail from being saved:</h2>

        <ul>
        <% production_detail.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
    
      <% @troop = @production.troop %>
      
      <% @pd = ProductionDetail.where(production_id: @production.id)%>
    
    <!-- Control de que no se cargue mas reses de las que hay -->
    <% if (@troop.quantity_control*2) > @pd.size%>
      <% if @production %>
        <%= f.hidden_field :production_id, :value => @production.id%>
      <% else %>
        <%= f.collection_select :production_id, Production.all(), :id, :to_s, {prompt: "Producto"}, {class: "select2"} %>
      <% end %>      

      <!-- Nº de Tropa -->
      <label class="col-sm-2 control-label">
        Tipo:
      </label>

      <div class="col-sm-10 controls">
        <%= f.collection_select :type_id, Type.all, :id, :to_s, {prompt: "Tipo"}, {class: "select2", style: "min-width:225px;float:left;"} %>
      </div>
    
      <label class="col-sm-2 control-label">
        Especie:
      </label>
      <div class="col-sm-10 controls">
        <% if @production %>
          <% animal = Animal.where(id: TroopDetail.where(troop: Production.where(id: @production.id).first.troop).pluck(:animal_id))%>
        <% else %>
          <% animal = Animal.all%>
        <% end %>

        <%= f.collection_select :animal_id, animal, :id, :to_s, {prompt: "Especie"}, {class: "select2", style: "min-width:225px;float:none;"} %>  
      </div>

      
      <% if current_user.PlantaA?  or current_user.admin?%>
        <label class="col-sm-2 control-label">
          Peso:
        </label>
        <div class="col-sm-10 controls">
          <%= f.number_field :weight, class: "form-control input-lg", placeholder: "Peso"%>
        </div>
      <% end %>      

      <% if current_user.PlantaB?  or current_user.admin?%>
        <label class="col-sm-2 control-label">
          Peso Control:
        </label>
        <div class="col-sm-10 controls">
          <%= f.number_field :weight_control, class: "form-control input-lg", placeholder: "Peso control"%>
        </div>
      <% end %>
      
      <label class="col-sm-2 control-label">
        Observación:
      </label>
      <div class="col-sm-10 controls">
        <%= f.text_area :observation, class: "form-control input-lg", placeholder: "Observacion"%>
      </div>
      
      <% if @production %>
        <%= f.hidden_field :flag, value: true %>
        <%= f.hidden_field :production, :value => params[:prod] %>
      <% end %>
    <% end %>
    <div class="actions row">
      <div class="col-sm-4">
        <% if @production %>
          <%= link_to 'Volver', "/production_line", class: "btn btn-outline-primary btn-block" %>
        <% else %>
          <%= link_to 'Volver', production_details_path, class: "btn btn-outline-primary btn-block" %>
        <% end %>          
      </div>
      <% if (@troop.quantity_control*2) > @pd.size%>     
        <div class="col-sm-8">
          <%= f.submit class: "btn btn-outline-success btn-block"%>
        </div>  
      <% end %>
    </div>
  </div>
<% end %>