<div class="col-xs-10">
  <h2>Detalle de Producción</h2>
</div>

<div class="col-xs-12  col-xs-12">

  <table class="datatable table-striped table-bordered table-list">
    <thead>
      <tr>
        <th>Producción</th>
        <th>Tipo</th>
        <th>Animal</th>
        <% if current_user.PlantaA?  or current_user.admin?%>
          <th>Peso</th>
        <% end %>
        <% if current_user.PlantaA?  or current_user.admin?%>
          <th>Peso control</th>
        <% end %>
        <th>Observación</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @production_details.each do |production_detail| %>
        <tr>
          <td><%= production_detail.production %></td>
          <td><%= production_detail.type %></td>
          <td><%= production_detail.animal %></td>
          <% if current_user.PlantaA?  or current_user.admin?%>
            <td><%= production_detail.weight %></td>
          <% end %>  
          <% if current_user.PlantaB?  or current_user.admin?%>
            <td><%= production_detail.weight_control %></td>
          <% end %>
          <td><%= production_detail.observation %></td>
          <td>
            <%= link_to (fa_icon "eye"), production_detail, class: '' %>
            <%= link_to (fa_icon "pencil-square-o"), edit_production_detail_path(production_detail), class: '' %>
            <% if current_user.admin?%>
              <%= link_to (fa_icon "trash-o"), production_detail, method: :delete, data: { confirm: '¿Seguro desea eliminar este registro?' }, class: '' %>      
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

