<p>
  <strong>Producción:</strong>
  <%= @production_detail.production %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @production_detail.type %>
</p>

<p>
  <strong>Animal:</strong>
  <%= @production_detail.animal %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @production_detail.weight %>
</p>

<p>
  <strong>Peso control:</strong>
  <%= @production_detail.weight_control %>
</p>

<p>
  <strong>Observación:</strong>
  <%= @production_detail.observation %>
</p>

<%= link_to 'Editar', edit_production_detail_path(@production_detail) %> |
<%= link_to 'Volver', production_details_path %>
