<%= form_for(position) do |f| %>
  <% if position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
      <% position.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <label class="col-sm-3 control-label">
    Nombre:
  </label>
  <div class="col-sm-9 controls">
    <%= f.text_field :name, class: "form-control input-lg", placeholder: "Nombre"%>
  </div>

  <label class="col-sm-3 control-label">
    Descripción:
  </label>
  <div class="col-sm-9 controls">
    <%= f.text_field :description, class: "form-control input-lg", placeholder: "Descripcion"%>
  </div>

  <label class="col-sm-3 control-label">
  </label>  
  <div class="col-sm-3">
    <%= link_to 'Volver', positions_path, class: "btn btn-primary btn-block" %>
  </div>      
  <div class="col-sm-6  ">
    <%= f.submit class: "btn btn-success btn-block"%>
  </div>
<% end %>
