<%= form_for(position) do |f| %>
  <% if position.errors.any? %>
    <script type="text/javascript">
      <% position.errors.full_messages.each do |message| %>
        toastr['error']('<%= message %>');
      <% end %>
    </script>
  <% end %>

  <label class="col-md-3 control-label hidden-sm hidden-xs">
    Nombre:
  </label>
  <div class="col-sm-12 col-md-9 controls">
    <%= f.text_field :name, class: "form-control input-lg", placeholder: "Nombre"%>
    <span class="help-block">Obligatorio. </span>
  </div>

  <label class="col-md-3 control-label hidden-sm hidden-xs">
    Descripción:
  </label>
  <div class="col-sm-12 col-md-9 controls">
    <%= f.text_field :description, class: "form-control input-lg", placeholder: "Descripcion"%>
  </div>

  
  <div class="col-xs-4">
    <%= link_to 'Volver', positions_path, class: "btn btn-primary btn-block" %>
  </div>      
  <div class="col-xs-8">
    <%= f.submit class: "btn btn-success btn-block"%>
  </div>
<% end %>
