<h1>Posiciones</h1>

<table class="datatable table-striped table-bordered table-list">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @positions.each do |position| %>
      <tr>
        <td><%= position.name %></td>
        <td><%= position.description %></td>
        <td>
          <%= link_to (fa_icon "eye"), position, class: 'btn btn-sm btn-success' %>
          <%= link_to (fa_icon "pencil-square-o"), edit_position_path(position), class: 'btn btn-sm btn-warning' %>
          <%= link_to (fa_icon "trash-o"), position, method: :delete, data: { confirm: '¿Seguro desea eliminar este registro?' }, class: 'btn btn-sm btn-danger' %>      
        </td>     
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Posición', new_position_path %>
