

<p>
  <strong>Turno:</strong>
  <%= @turn_detail.turn %>
</p>

<p>
  <strong>Agente:</strong>
  <%= @turn_detail.agent %>
</p>

<p>
  <strong>Lugar:</strong>
  <%= @turn_detail.place %>
</p>

<p>
  <strong>Posicion:</strong>
  <%= @turn_detail.position %>
</p>

<p>
  <strong>Observacion:</strong>
  <%= @turn_detail.observation %>
</p>

<%= link_to 'Editar', edit_turn_detail_path(@turn_detail) %> |
<%= link_to 'Volver', turn_details_path %>
