<div class="col-md-10  col-xs-12">
  <h2>Rango Numero tropa</h2>
</div>

<div class="col-md-10  col-xs-12">
  <table class="datatable table-striped table-bordered table-list">
    <thead>
      <tr>
        <th>R.N.T</th>
        <th>Opciones</th>
      </tr>
    </thead>

    <tbody>
      <% @seq_range_troop_numbers.each do |seq_range_troop_number| %>
        <tr>
          <td><%= seq_range_troop_number.rtn %></td>
          <td>
            <%= link_to (fa_icon "eye"), seq_range_troop_number, class: '' %>
            <%= link_to (fa_icon "pencil-square-o"), edit_seq_range_troop_number_path(seq_range_troop_number), class: '' %>
            <%= link_to (fa_icon "trash-o"), seq_range_troop_number, method: :delete, data: { confirm: '¿Seguro desea eliminar este registro?' }, class: '' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="col-md-10  col-xs-12">
  <%= link_to 'Crear Rango Numero Tropa', new_seq_range_troop_number_path, {:class=>"btn btn-primary btn-submit"} %>
</div>