<%= form_for(type) do |f| %>
  <% if type.errors.any? %>
    <div id="error_explanation">
      <h2> Fallo el guardado debido a:</h2>

      <ul>
      <% type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <label class="col-md-3 control-label hidden-sm hidden-xs">
    Nombre:
  </label>
  <div class="col-sm-12 col-md-9 controls">
    <%= f.text_field :name, class: "form-control input-lg", placeholder: "Nombre"%>
  </div>

  <label class="col-md-3 control-label hidden-sm hidden-xs">
    Descripción:
  </label>
  <div class="col-sm-12 col-md-9 controls">
    <%= f.text_field :description, class: "form-control input-lg", placeholder: "Descripción"%>
  </div>

  <label class="col-md-3 control-label hidden-sm hidden-xs">
    Tipo Animal:
  </label>
  <div class="col-sm-12 col-md-9 controls">
    <%= f.collection_select :animal_type_id, AnimalType.all, :id, :to_s, {prompt: "Tipo Animal"}, {class: "select2"} %>
  </div>

  <div class="actions">
      <%= f.submit class: "btn btn-outline-success btn-block"%>
  </div>

  <div class="col-xs-4">
    <%= link_to 'Volver', types_path, class: "btn btn-primary btn-block" %>
  </div>      
  <div class="col-xs-8">
    <%= f.submit class: "btn btn-success btn-block"%>
  </div>
<% end %>
