<div class="col-md-10  col-xs-12">
  <h2>Tipos</h2>
</div>

<div class="col-md-10  col-xs-12">
  <table class="datatable table-striped table-bordered table-list">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Tipo Animal</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @types.each do |type| %>
        <tr>
          <td><%= type.name %></td>
          <td><%= type.description %></td>
          <td><%= type.animal_type %></td>
          <td>
            <%= link_to (fa_icon "eye"), type, class: '' %>
            <%= link_to (fa_icon "pencil-square-o"), edit_type_path(type), class: '' %>
            <%= link_to (fa_icon "trash-o"), type, method: :delete, data: { confirm: '¿Seguro desea eliminar este registro?' }, class: '' %>
                
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="col-md-10  col-xs-12">
  <%= link_to 'Crear Tipo', new_type_path, {:class=>"btn btn-primary btn-submit"} %>
</div>