<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @type.name %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @type.description %>
</p>

<p>
  <strong>Tipo Animal:</strong>
  <%= @type.animal_type %>
</p>

<%= link_to 'Editar', edit_type_path(@type) %> |
<%= link_to 'Volver', types_path %>
