<div class="col-xs-12">
  <h2 style="text-align: center;">Producción</h2>
</div>

<label class="col-xs-3 control-label">
	Tropa:
</label>
<div class="col-xs-9 show-field">
	<%= @production.troop %>
</div>

<label class="col-xs-3 control-label">
	Descripcion:
</label>
<div class="col-xs-9 show-field">
	<%= @production.description %>
</div>

<label class="col-xs-3 control-label">  
	Estado:
</label>
<div class="col-xs-9 show-field">
	<%=@production.production_details.size%> de <%=@production.troop.quantity_control*2%> media res
</div>
<label class="col-xs-3 control-label">  
	
</label>

<div class="col-xs-10">
	<table class="datatable table-striped table-bordered table-list">
		<thead>
		    <tr>
		      <th>Producción</th>
		      <th>Tipo</th>
		      <th>Animal</th>
		      <% if current_user.PlantaA?  or current_user.admin?%>
		      		<th>Peso</th>
		      <%end%>
		      <% if current_user.PlantaB?  or current_user.admin?%>
		      		<th>Peso control</th>
		      <%end%>
		      <th>Observacion</th>
		    </tr> 
		</thead>
		<tbody>
		  <% for details in @production.production_details %>
		  	<tr>
		  		<td><%= details.production %></td>
		  		<td><%= details.type %></td>
		  		<td><%= details.animal %></td>
		  		<% if current_user.PlantaA?  or current_user.admin?%>
		  			<td><%= details.weight %></td>
		  		<%end%>
		  		<% if current_user.PlantaB?  or current_user.admin?%>
		  			<td><%= details.weight_control %></td>
		  		<%end%>
		  		<td><%= details.observation %></td>
		  	</tr>
		  <% end %>
		</tbody>
		<tfoot>
		    <tr>
	            <th colspan="5" style="text-align:right">Total :</th>
	            <th><%= @production.production_details.sum('weight') %></th>
	        </tr>
	        <% if current_user.PlantaB?  or current_user.admin? %>
		        <tr>
		            <th colspan="5" style="text-align:right">Total Control:</th>
		            <th><%= @production.production_details.sum('weight_control') %></th>
		        </tr>
	        <%end%>
	    </tfoot>
	</table>
</div>


<div class="col-xs-4">
	<%= link_to 'Editar', edit_production_path(@production) , class: "btn btn-primary btn-block" %>
</div>
<div class="col-xs-8">
	<%= link_to 'Volver', productions_path , class: "btn btn-success btn-block"%>
</div>