<div class="row justify-content-md-center">
  <div class="col-sm-6">  
    <%= form_for(turn) do |f| %>
      <% if turn.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(turn.errors.count, "error") %> prohibited this turn from being saved:</h2>

          <ul>
          <% turn.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group  row">
        <div class="input-group date datepicker col-sm-4">
          <%= f.text_field :date, placeholder: "Fecha", class: "form-control" %>
            <span class="input-group-addon ">
              <%= fa_icon "list"%>
            </span>
        </div>
      </div>

      <div class="form-group">
        <%= f.text_area :description, class: "form-control input-lg", placeholder: "Descripcion"%>
      </div>

      <table class="table table-striped table-bordered table-list">
        <thead>
            <tr>
              <th>Agente</th>
              <th>Lugar</th>
              <th>Posicion</th>
              <th>Observacion</th>
            </tr> 
        </thead>
        <tbody class="turn_details">
              <%= f.fields_for :turn_details do |td| %>
                <%= render 'turn_detail_fields', :f => td %>
              <% end %>
        </tbody>
      </table>

      <div class='links'>
        <%= link_to_add_association 'Agregar Turno', f, :turn_details, data: { association_insertion_node: '.turn_details', association_insertion_method: :append } %>
      </div>

      <div class="actions row">
          <div class="col-sm-4">
            <%= link_to 'Volver', turns_path, class: "btn btn-outline-primary btn-block" %>
          </div>      
          <div class="col-sm-8">
            <%= f.submit class: "btn btn-outline-success btn-block"%>
          </div>  
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('#new_turn').bind('cocoon:after-insert',
    function(e) {
      console.log('Insertando Select 2');
      
    });

</script>