<%= form_for turn,  id:"new_turn" do |f| %>
  <% if turn.errors.any? %>
    <script type="text/javascript">
      <% turn.errors.full_messages.each do |message| %>
        toastr['error']('<%= message %>');
      <% end %>
    </script>
  <% end %>

  <label class="col-md-3 control-label hidden-sm hidden-xs">
    Fecha:
  </label>  
  <div class="col-sm-12 col-md-9 controls date datepicker">
    <div class="form-group">
      <div class='input-group date'>
        <%= f.text_field :date, placeholder: "Fecha", class: "form-control" %>
        <span class="input-group-addon ">
          <%= fa_icon "list"%>
        </span>
      </div>
      <span class="help-block">Obligatorio.</span>
    </div>
  </div>

  <label class="col-md-3 control-label hidden-sm hidden-xs">
    Descripción:
  </label>
  <div class="col-sm-12 col-md-9 controls">
    <%= f.text_area :description, class: "form-control input-lg", placeholder: "Descripción"%>
    
  </div>
  
  <div class="col-sm-12">
    <h3 style="text-align: center;">Detalle de Agentes del Turno</h3>
  </div>
  
  <div class="col-sm-12" style="margin-bottom: 25px;">
    <table class="datatable" style="margin-bottom: 0px;">
      <thead>
          <tr>
            <th>Agente</th>
            <th>Lugar</th>
            <th>Posicion</th>
            <th>Observacion</th>
          </tr> 
      </thead>
      <tbody class="turn_details">
            <%= f.fields_for :turn_details do |td| %>
              <%= render 'turn_detail_fields', :f => td %>
            <% end %>
      </tbody>
    </table>
    <%= link_to_add_association (fa_icon "plus"), f, :turn_details, data: { association_insertion_node: '.turn_details', association_insertion_method: :append }, class: "btn btn-primary btn-block" %>
  </div>
  
  
  <div class="col-xs-4">
    <%= link_to 'Volver', turns_path, class: "btn btn-primary btn-block" %>
  </div>      
  <div class="col-xs-4">
    <%= f.submit class: "btn btn-success btn-block"%>
  </div>  
<% end %>

<script type="text/javascript">
  $('form').bind('cocoon:after-insert',
    function(e) {
      console.log("entro");
      $(".select2").select2({theme: "bootstrap", width: "100%"});
      
    });
</script>
