<div class="col-xs-10">
  <h2 style="text-align: center;">Turno</h2>
</div>

<label class="col-sm-3 control-label">
  Fecha:
</label>
<div class="col-sm-9 show-field">
  <%= @turn.date %>
</div>


<label class="col-sm-3 control-label">
  Descripcion:
</label>
<div class="col-sm-9 show-field">
  <%= @turn.description %>
</div>

<div class="col-xs-10  col-xs-12">
    <table class="datatable table-striped table-bordered table-list">
        <thead>
            <tr>
            <th>Agente</th>
            <th>Lugar</th>
            <th>Posicion</th>
            <th>Observacion</th>
            </tr> 
        </thead>
        <tbody>
        <% for details in @turn.turn_details %>
            <tr>
                <td><%= details.agent %></td>
                <td><%= details.place %></td>
                <td><%= details.position %></td>
                <td><%= details.observation %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>

<div class="col-sm-3">
    <%= link_to 'Editar', edit_turn_path(@turn), class: "btn btn-primary btn-block" %>
</div>
<div class="col-sm-3">
    <%= link_to 'Volver', turns_path , class: "btn btn-success btn-block"%>
</div>
