<div class="row justify-content-md-center">
  <div class="col-sm-6">
    <%= form_for agent,  id:"new_agent" do |f| %>
      <% if agent.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(agent.errors.count, "error") %> prohibited this agent from being saved:</h2>

          <ul>
          <% agent.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.text_field :last_name, class: "form-control input-lg", placeholder: "Apellido"%>
      </div>

      <div class="form-group">
        <%= f.text_field :name, class: "form-control input-lg", placeholder: "Nombre"%>
      </div>

      <div class="form-group">
        <%= f.number_field :dni, class: "form-control input-lg", placeholder: "Dni"%>
      </div>

      <div class="form-group">
        <%= f.collection_select :position_id, Position.all, :id, :to_s, {prompt: "Posicion"}, {class: "select2"} %>
      </div>
        
      <div class="form-group row">
        <div class="input-group date datepicker col-sm-6">
          <%= f.text_field :up_date, placeholder: "Fecha de Alta", class: "form-control" %>
          <span class="input-group-addon ">
            <%= fa_icon "list"%>
          </span>
        </div>
        
        <div class="input-group date datepicker col-sm-6">
          <%= f.text_field :down_date, placeholder: "Fecha de Baja", class: "form-control" %>
          <span class="input-group-addon ">
            <%= fa_icon "list"%>
          </span>
        </div>
      </div>
      
      <div class="actions row">
        <div class="col-sm-4">
          <%= link_to 'Volver', agents_path, class: "btn btn-outline-primary btn-block" %>
        </div>      
        <div class="col-sm-8">
          <%= f.submit class: "btn btn-outline-success btn-block"%>
        </div>  
      </div>
    <% end %>
  </div>
</div>

<script>
  $("#new_agent").on("ajax:success", function(e, data, status, xhr) {
    console.log("success");
  }).on("ajax:error", function(e, data, status, xhr) {
    $("#new_agent").render_form_errors('agent',data.responseJSON)

  });
</script>