<%= form_for agent,  id:"new_agent" do |f| %>
  <% if agent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(agent.errors.count, "error") %> prohibited this agent from being saved:</h2>

      <ul>
      <% agent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <label class="col-sm-3 control-label">
    Apellido:
  </label>
  <div class="col-sm-9 controls">
      <%= f.text_field :last_name, class: "form-control input-lg", placeholder: "Apellido"%>
      <span class="help-block">Obligatorio. </span>
  </div>
  
  <label class="col-sm-3 control-label">
    Nombre:
  </label>
  <div class="col-sm-9 controls">
    <%= f.text_field :name, class: "form-control input-lg", placeholder: "Nombre"%>
    <span class="help-block">Obligatorio. </span>
  </div>

  <label class="col-sm-3 control-label">
    DNI:
  </label>
  <div class="col-sm-9 controls">
    <%= f.number_field :dni, class: "form-control input-lg", placeholder: "Dni"%>
    <span class="help-block">Obligatorio. </span>
  </div>
  
  <label class="col-sm-3 control-label">
    Posición:
  </label>
  <div class="col-sm-9 controls">
    <%= f.collection_select :position_id, Position.all, :id, :to_s, {prompt: "Posicion"}, {class: "select2"} %>
    <span class="help-block">Obligatorio. </span>
  </div>
  
  <label class="col-sm-3 control-label">
    Fecha Alta:
  </label>  
  <div class="col-sm-9 controls date datepicker">
    <div class="form-group">
      <div class='input-group date'>
        <%= f.text_field :up_date, placeholder: "Fecha de Baja", class: "form-control" %>
        <span class="input-group-addon ">
          <%= fa_icon "list"%>
        </span>
      </div>
    </div>
  </div>


  <label class="col-sm-3 control-label">
    Fecha Baja:
  </label>  
  <div class="col-sm-9 controls date datepicker">
    <div class="form-group">
      <div class='input-group date'>
        <%= f.text_field :down_date, placeholder: "Fecha de Baja", class: "form-control" %>
        <span class="input-group-addon ">
          <%= fa_icon "list"%>
        </span>
      </div>
    </div>
  </div>
  
  <div class="col-sm-2">
    <%= link_to 'Volver', agents_path, class: "btn btn-primary btn-block" %>
  </div>      
  <div class="col-sm-4">
    <%= f.submit class: "btn btn-success btn-block"%>
  </div>  
<% end %>