<div class="col-md-10  col-xs-12">
  <h2>Agentes</h2>
</div>

<div class="col-md-10  col-xs-12">
  <table class="datatable table-striped table-bordered table-list">
    <thead>
      <tr>
        <th>Apellido</th>
        <th>Nombre</th>
        <th>Dni</th>
        <th>Posición</th>
        <th>Opciones</th>
      </tr>
    </thead>

    <tbody>
      <% @agents.each do |agent| %>
        <tr>
          <td><%= agent.last_name %></td>
          <td><%= agent.name %></td>
          <td><%= agent.dni %></td>
          <td><%= agent.position %></td>
          <td>
            <%= link_to (fa_icon "eye"), agent, class: '' %>
            <%= link_to (fa_icon "pencil-square-o"), edit_agent_path(agent), class: '' %>
            <%= link_to (fa_icon "trash-o"), agent, method: :delete, data: { confirm: '¿Seguro desea eliminar este registro?' }, class: '' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="col-md-10  col-xs-12">
  <%= link_to 'Crear Agente', new_agent_path, {:class=>"btn btn-primary btn-submit"} %>
</div>