

<p>
  <strong>Descripcion:</strong>
  <%= @animal.description %>
</p>

<p>
  <strong>Sigla:</strong>
  <%= @animal.initials %>
</p>

<p>
  <strong>Tipo animal:</strong>
  <%= @animal.animal_type %>
</p>

<p>
  <strong>Peso promedio:</strong>
  <%= @animal.average_value %>
</p>

<%= link_to 'Editar', edit_animal_path(@animal) %> |
<%= link_to 'Volver', animals_path %>
