

<p>
  <strong>Sub producto:</strong>
  <%= @sub_product_detail.sub_product %>
</p>

<p>
  <strong>Tipo Sub producto:</strong>
  <%= @sub_product_detail.sub_product_type %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @sub_product_detail.weight %>
</p>

<p>
  <strong>Peso control:</strong>
  <%= @sub_product_detail.weight_control %>
</p>

<p>
  <strong>Observacion:</strong>
  <%= @sub_product_detail.observation %>
</p>

<%= link_to 'Editar', edit_sub_product_detail_path(@sub_product_detail) %> |
<%= link_to 'Volver', sub_product_details_path %>
