

<p>
  <strong>Sub producto:</strong>
  <%= @sub_product_detail.sub_product %>
</p>

<p>
  <strong>Tipo Sub producto:</strong>
  <%= @sub_product_detail.sub_product_type %>
</p>


<% if current_user.SubA?  or current_user.admin?%>
  <p>
    <strong>Peso:</strong>
    <%= @sub_product_detail.weight %>
  </p>
<% end %>

<% if current_user.SubB?  or current_user.admin?%>
  <p>
    <strong>Peso control:</strong>
    <%= @sub_product_detail.weight_control %>
  </p>
<% end %>


<p>
  <strong>Observacion:</strong>
  <%= @sub_product_detail.observation %>
</p>

<%= link_to 'Editar', edit_sub_product_detail_path(@sub_product_detail) %> |
<%= link_to 'Volver', sub_product_details_path %>
