<p id="notice"><%= notice %></p>

<p>
  <strong>Minimo:</strong>
  <%= @range_troop_number.min %>
</p>

<p>
  <strong>Maximo:</strong>
  <%= @range_troop_number.max %>
</p>

<%= link_to 'Editar', edit_range_troop_number_path(@range_troop_number) %> |
<%= link_to 'Volver', range_troop_numbers_path %>
