<%= form_for(driver) do |f| %>
  <% if driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

      <ul>
      <% driver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <label class="col-sm-3 control-label">
    Nombre:
  </label>
  <div class="col-sm-9 controls">
    <%= f.text_field :name, class: "form-control input-lg", placeholder: "Nombre"%>
  </div>

  <label class="col-sm-3 control-label">
    Apellido:
  </label>
  <div class="col-sm-9 controls">
    <%= f.text_field :last_name, class: "form-control input-lg", placeholder: "Apellido"%>
  </div>

  <label class="col-sm-3 control-label">
    D.N.I.:
  </label>
  <div class="col-sm-9 controls">
    <%= f.number_field :dni, class: "form-control input-lg", placeholder: "DNI"%>
  </div>

  <label class="col-sm-3 control-label">
    Observación:
  </label>
  <div class="col-sm-9 controls">
    <%= f.text_field :observation, class: "form-control input-lg", placeholder: "Observacion"%>
  </div>

  <label class="col-sm-3 control-label">
    
  </label>
  <div class="col-sm-2">
    <%= link_to 'Volver', drivers_path, class: "btn btn-danger btn-block" %>
  </div>      
  <div class="col-sm-7">
    <%= f.submit class: "btn btn-success btn-block"%>
  </div>  
<% end %>
