<%= form_for city,  id:"new_city" do |f| %>
  <% if city.errors.any? %>
    <script type="text/javascript">
      <% city.errors.full_messages.each do |message| %>
        toastr['error']('<%= message %>');
      <% end %>
    </script>
  <% end %>
 
  <label class="col-md-3 control-label hidden-sm hidden-xs">    
      Nombre:
  </label>
  <div class="col-sm-12 col-md-9 controls">
      <%= f.text_field :name, class: "form-control input-lg", placeholder: "Nombre"%>
      <span class="help-block">Obligatorio. </span>
  </div>

  <label class="col-md-3 control-label hidden-sm hidden-xs">    
      Provincia:
  </label>
  <div class="col-sm-12 col-md-9 controls">
      <%= f.text_field :province, class: "form-control input-lg", placeholder: "Provincia"%>
      <span class="help-block">Obligatorio. </span>
  </div>
  
  <label class="col-md-3 control-label hidden-sm hidden-xs">    
      Código Postal:
  </label>
  <div class="col-sm-12 col-md-9 controls">
      <%= f.number_field :cp, class: "form-control input-lg", placeholder: "Codigo Postal"%>
      <span class="help-block">Obligatorio. </span>
  </div>
  
  <div class="col-xs-4">
    <%= link_to 'Volver', cities_path, class: "btn btn-primary btn-block" %>
  </div>      
  <div class="col-xs-8">
      <%= f.submit class: "btn btn-success btn-block"%>
  </div>  
<% end %>