<div class="col-xs-10">
  <h1>Ciudades</h1>
</div>

<div class="col-xs-10  col-xs-12">
  <table class="datatable table-striped table-bordered table-list">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Provincias</th>
        <th>Cod postal</th>
        <th>Opciones</th>
      </tr>
    </thead>

    <tbody>
      <% @cities.each do |city| %>
        <tr>
          <td><%= city.name %></td>
          <td><%= city.province %></td>
          <td><%= city.cp %></td>
          <td>
            <%= link_to (fa_icon "eye"), city, class: '' %>
            <%= link_to (fa_icon "pencil-square-o"), edit_city_path(city), class: '' %>
            <%= link_to (fa_icon "trash-o"), city, method: :delete, data: { confirm: '¿Seguro desea eliminar este registro?' }, class: '' %>      
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="col-xs-10 col-xs-12">
 <%= link_to 'Nueva Ciudad', new_city_path, {:class=>"btn btn-primary btn-submit"} %>
</div>

