<div class="col-xs-12">
  <h2 style="text-align: center;">Ciudad<%= @city.name %></h2>
</div>

<label class="col-xs-3 control-label">
	Nombre:
</label>
<div class="col-xs-9 show-field">
  <%= @city.name %>
</div>
<label class="col-xs-3 control-label">
	Provincia:
</label>
<div class="col-xs-9 show-field">
  <%= @city.province %>
</div>
<label class="col-xs-3 control-label">
	Código Postal:
</label>
<div class="col-xs-9 show-field">
  <%= @city.cp %>
</div>


<div class="col-xs-4">
	<%= link_to 'Editar', edit_city_path(@city), class: "btn btn-primary btn-block" %>
</div>      
<div class="col-xs-8">
	<%= link_to 'Volver', cities_path, class: "btn btn-success btn-block"%>
</div> 