<%= form_for(sub_product) do |f| %>
    <% if sub_product.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(sub_product.errors.count, "error") %> prohibited this sub_product from being saved:</h2>

            <ul>
            <% sub_product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
            </ul>
        </div>
    <% end %>
  
    <label class="col-md-3 control-label hidden-sm hidden-xs">
        Tropa:
    </label>
    <div class="col-sm-12 col-md-9 controls">
        <%= f.collection_select :troop_id, Troop.all, :id, :to_s, {prompt: "Tropa"}, {class: "select2"} %>
    </div>

    <label class="col-md-3 control-label hidden-sm hidden-xs">
        Observación:
    </label>
    <div class="col-sm-12 col-md-9 controls">
        <%= f.text_field :observartion, class: "form-control input-lg", placeholder: "Observación"%>
    </div>
    

    <div class="col-sm-12">
        <h3 style="text-align: center;">Detalle de Sub producto</h3>
    </div>

    <div class="col-sm-12" style="margin-bottom: 25px;">
    <table class="table table-responsive table-striped table-bordered table-list" style="margin-bottom: 0px;">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <% if current_user.SubA?  or current_user.admin?%>
                        <th>Peso</th>
                    <% end %>
                    <% if current_user.SubB?  or current_user.admin?%>
                        <th>Peso control</th>
                    <% end %>
                    <th>Calibre</th>
                    <th>Observacion</th>
                </tr> 
            </thead>
            <tbody class="sub_product_details">
                <%= f.fields_for :sub_product_details do |sub_product_details| %>
                    <%= render 'sub_product_detail_fields', :f => sub_product_details %>
                <% end %>
                </div>
            </tbody>
        </table>
        <div class='links'>
            <%= link_to_add_association (fa_icon "plus"), f, :sub_product_details, data: { association_insertion_node: '.sub_product_details', association_insertion_method: :append }, class: "btn btn-primary btn-block" %>
        </div>
    </div>
    
    <div class="col-xs-4">
        <%= link_to 'Volver', sub_products_path, class: "btn btn-primary btn-block" %>
    </div>
    <div class="col-xs-8">
        <%= f.submit class: "btn btn-success btn-block"%>
    </div>
<% end %>
<script type="text/javascript">
  $('#new_sub_product').bind('cocoon:after-insert',
    function(e) {
      console.log('Insertando Select 2');
      
    });

</script>
