<tr class="detail-field">
	<td><%= f.collection_select :sub_product_type_id, SubProductType.all, :id, :to_s, {prompt: "Tipo"}, {class: "select2 form-control input-lg"} %></td>
	<td><%= f.number_field :weight, class: "form-control input-lg", placeholder: "Peso"%></td>
	<td><%= f.number_field :weight_control, class: "form-control input-lg", placeholder: "Peso Procesado"%></td>
	<td><%= f.number_field :caliber, class: "form-control input-lg", placeholder: "Calibre"%></td>
	<td><%= f.text_field :observartion, class: "form-control input-lg", placeholder: "Observacion"%></td>
</tr>