<tr class="detail-field">
	<td><%= f.collection_select :sub_product_type_id, SubProductType.all, :id, :to_s, {prompt: "Tipo"}, {class: "select2", id: "select_sub_product"} %></td>
	<% if current_user.SubA?  or current_user.admin?%>
		<td><%= f.number_field :weight, class: "number_field_detail form-control input-lg", placeholder: ""%></td>
	<% end %>
	<% if current_user.SubB?  or current_user.admin?%>
		<td><%= f.number_field :weight_control, class: "number_field_detail form-control input-lg", placeholder: ""%></td>
	<% end %>
	<td><%= f.number_field :caliber, class: "number_field_detail form-control input-lg", placeholder: "Calibre"%></td>
	<td><%= f.text_field :observartion, class: "form-control input-lg", placeholder: "Observacion"%></td>
</tr>
