<tr class="detail-field">
	<td><%= f.collection_select :sub_product_type_id, SubProductType.all, :id, :to_s, {prompt: "Tipo"}, {class: ""} %></td>
	<% if current_user.SubA?  or current_user.admin?%>
		<td><%= f.number_field :weight, class: "", placeholder: "Peso"%></td>
	<% end %>
	<% if current_user.SubB?  or current_user.admin?%>
		<td><%= f.number_field :weight_control, class: "", placeholder: "Peso Procesado"%></td>
	<% end %>
	<td><%= f.number_field :caliber, class: "", placeholder: "Calibre"%></td>
	<td><%= f.text_field :observartion, class: "", placeholder: "Observacion"%></td>
</tr>