<tr class="detail-field">
	<td><%= f.collection_select :sub_product_type_id, SubProductType.all, :id, :to_s, {prompt: "Tipo"}, {class: "select2 form-control input-lg"} %></td>
	<td><%= f.number_field :weight, class: "form-control input-lg", placeholder: "Peso"%></td>
	<!--<td><%= f.number_field :green, class: "form-control input-lg", placeholder: "Peso Verde"%></td> -->
	<td><%= f.number_field :processed, class: "form-control input-lg", placeholder: "Peso Procesado"%></td>
	<!--<td><%= f.number_field :red, class: "form-control input-lg", placeholder: "Peso Rojo"%></td>-->
	<td><%= f.number_field :caliber, class: "form-control input-lg", placeholder: "Calibre"%></td>
	<td><%= f.text_field :observation, class: "form-control input-lg", placeholder: "Observacion"%></td>
</tr>