<div class="col-md-10  col-xs-12">
    <h2>Sub Productos</h2>
</div>

<div class="col-md-10  col-xs-12">
    <table class="datatable table-striped table-bordered table-list">
        <thead>
            <tr>
                <th>Tropa</th>
                <th>Observacion</th>
                <th>Opciones</th>
            </tr>
        </thead>

        <tbody>
            <% @sub_products.each do |sub_product| %>
            <tr>
                <td><%= sub_product.troop %></td>
                <td><%= sub_product.observartion %></td>
                <td>
                <%= link_to (fa_icon "eye"), sub_product, class: '' %>
                <%= link_to (fa_icon "pencil-square-o"), edit_sub_product_path(sub_product), class: '' %>
                <%= link_to (fa_icon "trash-o"), sub_product, method: :delete, data: { confirm: '¿Seguro desea eliminar este registro?' }, class: '' %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
<br>

<div class="col-md-10  col-xs-12">
    <% if current_user.SubA?  or current_user.admin?%>
        <%= link_to 'Nuevo Sub Producto', new_sub_product_path , {:class=>"btn btn-primary btn-submit"} %>
    <% end %>
</div>
