<%= form_for(troop) do |f| %>
  <% if troop.errors.any? %>
    <script type="text/javascript">
      <% troop.errors.full_messages.each do |message| %>
        toastr['error']('<%= message %>');
      <% end %>
    </script>
  <% end %>

<% if current_user.Garita?  or current_user.Oficina? or current_user.admin?%>
    <!-- DTE -->
    <label class="col-md-3 control-label hidden-sm hidden-xs">
      D.T.E.:
    </label>
    <div class="col-sm-12 col-md-9 controls">
      <%= f.text_field :dte, class: "form-control", placeholder: "012345678-1"%>
      <span class="help-block">Obligatorio. </span>
    </div>

    <!-- Fecha de llegada -->
    <label class="col-md-3 control-label hidden-sm hidden-xs">
      Fecha de Llegada:
    </label>
    <div class="col-sm-12 col-md-9 controls">
      <div class="input-group date datepicker">
        <%= f.text_field :arrival_date, placeholder: "Fecha Llegada", class: "form-control" %>
          <span class="input-group-addon ">
            <%= fa_icon "list"%>
          </span>
      </div>
      <span class="help-block">Obligatorio. </span>
    </div>

    <!-- Hora de llegada -->
    <label class="col-md-3 control-label hidden-sm hidden-xs">
      Hora de Llegada:
    </label>
    <div class="col-sm-12 col-md-9 controls">
      <div class="input-group time timepicker">
        <%= f.text_field :arrival_time, placeholder: "Hora Llegada", class: "form-control" %>
          <span class="input-group-addon ">
            <%= fa_icon "list"%>
          </span>
      </div>
      <span class="help-block">Obligatorio. </span>
    </div>

    <!-- Nº de Tropa -->
    <label class="col-sm-3 control-label">
      Nº de Tropa X:
    </label>
    <% if @troop.troop_number == -1 %>
      <div class="col-sm-9 controls">
        <%= f.text_field :troop_number, class: "form-control", placeholder: "Reinicie rango", readonly: true %>
        <span class="help-block">Obligatorio. </span>
      </div>
    <%else%>
      <div class="col-sm-9 controls">
        <%= f.text_field :troop_number, class: "form-control", placeholder: "123456", readonly: true%>
        <span class="help-block">Obligatorio. </span>
      </div>
    <%end%>

    <!-- Fecha de Cargo -->
    <label class="col-md-3 control-label hidden-sm hidden-xs">
      Fecha de Cargo:
    </label>
    <div class="col-sm-12 col-md-9 controls">
      <div class="input-group date datepicker">
        <%= f.text_field :cargo_date, placeholder: "Fecha cargo", class: "form-control" %>
          <span class="input-group-addon ">
            <%= fa_icon "list"%>
          </span>
      </div>
      <span class="help-block">Obligatorio. </span>
    </div>

    <!-- Fecha de Expiracion -->
    <label class="col-md-3 control-label hidden-sm hidden-xs">
      Fecha de Vencimiento:
    </label>
    <div class="col-sm-12 col-md-9 controls">
      <div class="input-group date datepicker">
        <%= f.text_field :expiration_date, placeholder: "Fecha Vencimiento", class: "form-control" %>
          <span class="input-group-addon ">
            <%= fa_icon "list"%>
          </span>
      </div>
      <span class="help-block">Obligatorio. </span>
    </div>

    <!-- Turno -->
    <label class="col-md-3 control-label hidden-sm hidden-xs">
      Turno:
    </label>
    <div class="col-sm-12 col-md-9 controls">
      <%= f.collection_select :turn_id, Turn.where.not(id: Troop.pluck(:turn_id)), :id, :to_s, {prompt: "Seleccionar"}, {class: "select2", style: "min-width:225px;float:left;"} %>
      
      <% link_to 'Agregar', new_turn_path, data: { modal: true }, class: "btn btn-info btn-form", style:"margin-left:10px;" %>
      <!--a href="#" class="btn btn-info btn-form" id="update_turn" style="margin-left: 10px;">Actualizar</a-->
      <span class="help-block">Obligatorio. </span >
    </div>

    <!-- Abastecedor -->
    <label class="col-md-3 control-label hidden-sm hidden-xs">
      Abastecedor:
    </label>
    <div class="col-sm-12 col-md-9 controls">
      <%= f.collection_select :provider_id, Provider.all, :id, :to_s, {prompt: "Seleccionar"}, {class: "select2", style: "min-width:225px;float:left;"} %>
      <!--a href="#" class="btn btn-info btn-form" id="create_turn" style="margin-left: 10px;">Agregar</a>
      <a href="#" class="btn btn-info btn-form" id="update_turn" style="margin-left: 10px;">Actualizar</a-->
      <span class="help-block">Obligatorio. </span>
    </div>

    <!-- Ciudad -->
    <label class="col-md-3 control-label hidden-sm hidden-xs">
      Ciudad:
    </label>
    <div class="col-sm-12 col-md-9 controls">
      <%= f.collection_select :city_id, City.all, :id, :to_s, {prompt: "Seleccionar"}, {class: "select2", style: "min-width:225px;float:left;"} %>
      <!--a href="#" class="btn btn-info btn-form" id="create_turn" style="margin-left: 10px;">Agregar</a>
      <a href="#" class="btn btn-info btn-form" id="update_turn" style="margin-left: 10px;">Actualizar</a-->
      <span class="help-block">Obligatorio. </span>
    </div>

    <!-- Transporte -->
    <label class="col-md-3 control-label hidden-sm hidden-xs">
      Transporte:
    </label>
    <div class="col-sm-12 col-md-9 controls">
      <%= f.collection_select :transport_id, Transport.all, :id, :to_s, {prompt: "Seleccionar"}, {class: "select2", style: "min-width:225px;float:left;"} %>
      <!--a href="#" class="btn btn-info btn-form" id="create_turn" style="margin-left: 10px;">Agregar</a>
      <a href="#" class="btn btn-info btn-form" id="update_turn" style="margin-left: 10px;">Actualizar</a-->
      <span class="help-block">Obligatorio. </span>
    </div>

    <!-- Chofer -->
    <label class="col-md-3 control-label hidden-sm hidden-xs">
      Chofer:
    </label>
    <div class="col-sm-12 col-md-9 controls">
      <%= f.collection_select :driver_id, Driver.all, :id, :to_s, {prompt: "Seleccionar"}, {class: "select2", style: "min-width:225px;float:left;"} %>
      <!--a href="#" class="btn btn-info btn-form" id="create_turn" style="margin-left: 10px;">Agregar</a>
      <a href="#" class="btn btn-info btn-form" id="update_turn" style="margin-left: 10px;">Actualizar</a-->
      <span class="help-block">Obligatorio. </span>
    </div>

    <!-- Nº de Precinto -->
    <label class="col-md-3 control-label hidden-sm hidden-xs">
      Número de Precinto:
    </label>
    <div class="col-sm-12 col-md-9 controls">
      <%= f.text_field :seal_number, class: "form-control", placeholder: "000"%>
      <span class="help-block">Obligatorio. </span>
    </div>
  <% end %>

  <% if current_user.Corral?  or current_user.Oficina? or current_user.admin?%>
    <!-- Peso Vivo -->
    <label class="col-md-3 control-label hidden-sm hidden-xs">
      Peso Vivo:
    </label>
    <div class="col-sm-12 col-md-9 controls">
      <%= f.text_field :liveweight, class: "form-control", placeholder: "000"%>
      <span class="help-block">Obligatorio. </span>
    </div>

    <!-- Control de Cantidad -->
    <label class="col-md-3 control-label hidden-sm hidden-xs">
      Control de Cantidad:
    </label>
    <div class="col-sm-12 col-md-9 controls">
      <%= f.text_field :quantity_control, class: "form-control", placeholder: "000"%>
      <span class="help-block">Obligatorio. </span>
    </div>

  <%end%>
    <!-- Código de Cierre -->
    <label class="col-md-3 control-label hidden-sm hidden-xs">
      Código de Cierre:
    </label>
    <div class="col-sm-12 col-md-9 controls">
      <%= f.text_field :close_code, class: "form-control ", placeholder: "000"%>
      <span class="help-block">Obligatorio. </span>
    </div>
    <label class="col-sm-9 control-label">
      
    </label>
    <%= f.hidden_field :number, value: @number %>
    
    <div class="col-sm-12" style="margin-bottom: 25px;">
      <table class="datatable" style="margin-bottom: 0px;">
        <thead>
          <tr>
              <th>Especie</th>
              <th>Cantidad</th>
              <th>Caidos</th>
              <th>Observacion</th>
          </tr> 
        </thead>
        <tbody class="troop_details">
            <%= f.fields_for :troop_details do |troop_details| %>
              <%= render 'troop_detail_fields', :f => troop_details %>
            <% end %>
        </tbody>
      </table>
      <%= link_to_add_association (fa_icon "plus"), f, :troop_details, data: { association_insertion_node: '.troop_details', association_insertion_method: :append }, class: "btn btn-primary btn-block" %>
    </div>

    

  <div class="col-xs-4">
    <%= link_to 'Volver', troops_path, class: "btn btn-primary btn-block" %>
  </div>      
  <div class="col-xs-8">
    <%if @number != -1%>
      <%= f.submit class: "btn btn-success btn-block "%>
    <%end%>
  </div>  
<% end %>
  

<script type="text/javascript">
  $('#new_troop').bind('cocoon:after-insert',
    function(e) {
      $(".select2").select2({theme: "bootstrap"});
      
    });
</script>