<div class="col-xs-10">
  <h2>Tropas</h2>
</div>

<div class="col-xs-10  col-xs-12">
  <table class="datatable table-striped table-bordered table-list">
    <thead>
      <tr>
        <th>D.T.E</th>
        <th>Turno</th>
        <th>Abastecedor</th>
        <th>Codigo cierre</th>
        <th>Opciones</th>
      </tr>
    </thead>

    <tbody>
      <% @troops.each do |troop| %>
        <tr>
          <td><%= troop.dte %></td>
          <td><%= troop.turn %></td>
          <td><%= troop.provider %></td>
          <td><%= troop.close_code %></td>        
          <td>
            <%= link_to (fa_icon "eye"), troop, class: '' %>
            <%= link_to (fa_icon "pencil-square-o"), edit_troop_path(troop), class: '' %>
            <% if current_user.Garita?  or current_user.Oficina? or current_user.admin?%>
              <%= link_to (fa_icon "trash-o"), troop, method: :delete, data: { confirm: '¿Seguro desea eliminar este registro?' }, class: '' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if current_user.Garita?  or current_user.Oficina? or current_user.admin?%>
<div class="col-xs-10 col-xs-12">
  <%= link_to 'Nueva tropa', new_troop_path, {:class=>"btn btn-primary btn-submit"} %>
</div>
<% end %>
