<div class="col-xs-10">
  <h2 style="text-align: center;">Tropa</h2>
</div>

<label class="col-sm-3 control-label">
  D.T.E:
</label>  
<div class="col-sm-9 show-field">
  <%= @troop.dte %>
</div>
<label class="col-sm-3 control-label">
  Fecha de LLegada:
</label>
<div class="col-sm-9 show-field">
  <%= @troop.arrival_date %>
</div>

<label class="col-sm-3 control-label">
  Hora de LLegada:
</label>
<div class="col-sm-9 show-field">
  <%= @troop.arrival_time.to_s(:time) %>
</div>

<label class="col-sm-3 control-label">
  Turno:
</label>
<div class="col-sm-9 show-field">
  <%= @troop.turn %>
</div>

<label class="col-sm-3 control-label">
  Abastecedor:
</label>
<div class="col-sm-9 show-field">
  <%= @troop.provider %>
</div>

<label class="col-sm-3 control-label">
  Nro tropa:
</label>
<div class="col-sm-9 show-field">
  <%= @troop.troop_number %>
</div>

<label class="col-sm-3 control-label">
  Fecha cargo:
</label>
<div class="col-sm-9 show-field">
  <%= @troop.cargo_date %>
</div>

<label class="col-sm-3 control-label">
  Fecha vencimiento:
</label>
<div class="col-sm-9 show-field">
  <%= @troop.expiration_date %>
</div>

<label class="col-sm-3 control-label">
  Transporte:
</label>
<div class="col-sm-9 show-field">
  <%= @troop.transport %>
</div>

<label class="col-sm-3 control-label">
  Chofer:
</label>
<div class="col-sm-9 show-field">
  <%= @troop.driver %>
</div>
<label class="col-sm-3 control-label">
  Nro precinto:
</label>
<div class="col-sm-9 show-field">
  <%= @troop.seal_number %>
</div>

<label class="col-sm-3 control-label">
  Peso vivo:
</label>
<div class="col-sm-9 show-field">  
  <%= @troop.liveweight %>
</div>

<label class="col-sm-3 control-label">
  Control cantidad:
</label>
<div class="col-sm-9 show-field">
  <%= @troop.quantity_control %>
</div>

<label class="col-sm-3 control-label">
  Codigo cierre:
</label>
<div class="col-sm-9 show-field">
  <%= @troop.close_code %>
</div>

<div class="col-xs-10  col-xs-12">
    <table class="datatable table-striped table-bordered table-list">
    <thead>
        <tr>
            <th class="hidden-xs">Animal</th>
            <th>Cantidad</th>
            <th>Observacion</th>
        </tr> 
    </thead>
    <tbody>
        <% for details in @troop.troop_details %>
        <tr>
            <td><%= details.animal %></td>
            <td><%= details.quantity%></td>
            <td><%= details.observartion %></td>
        </tr>
        <% end %>
    </tbody>
    <tfoot>
            <tr>
                <th colspan="4" style="text-align:right">Total:</th>
                <th><%= @troop.troop_details.sum('quantity') %></th>
            </tr>
        </tfoot>
    </table>
</div>


<div class="col-sm-3">
    <%= link_to 'Editar', edit_troop_path(@troop), class: "btn btn-primary btn-block" %>
</div>
<div class="col-sm-3">
    <%= link_to 'Volver', troops_path , class: "btn btn-success btn-block"%>
</div>
