

<h1>Lugares</h1>

<table class="datatable table-striped table-bordered table-list">
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.description %></td>
        <td>
          <%= link_to (fa_icon "eye"), place, class: 'btn btn-sm btn-success' %>
          <%= link_to (fa_icon "pencil-square-o"), edit_place_path(place), class: 'btn btn-sm btn-warning' %>
          <%= link_to (fa_icon "trash-o"), place, method: :delete, data: { confirm: '¿Seguro desea eliminar este registro?' }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Lugar', new_place_path %>
