<!DOCTYPE html>
<html>
  <head>
    <title>F.A.P</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      #wrapper {
        padding-left: 250px;
      }
      
      #wrapper-container {
        width: 100%;
      }
      
      #wrapper-container .container {
        margin-left: inherit;
      }
      
      #wrapper.wrapper-full {
        padding-left: 110px;
      }
    </style>
  </head>

  <body>
    <% unless flash.empty? %>
      <script type="text/javascript">
        <% flash.each do |f| %>
          <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
          toastr['<%= type %>']('<%= f[1] %>');
        <% end %>
      </script>
    <% end %>
    <div id="wrapper">
      <%= render "layouts/navbar_sidebar"%>
      <div id="wrapper-container">
        <div class="grid">
          <div class="row justify-content-md-center">
            <div class="tile col-md-12 col-xs-12"  >
              <h1>Frigorifico Agrotres Patagonia S. A.</h1>
            </div>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36060270-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      
      
      $('#collapse-sidebar').click(function()
      {
      
      $('.navbar-side').toggleClass('navbar-side-closed');
      $('#wrapper').toggleClass('wrapper-full');
      
      
      });

    </script>
  </body>
</html>
